<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="uk-heading-primary">Modification d'Évènement</h1>
      </div>
      <div class="uk-width-auto@m">
        <%= link_to 'Détails', user_event_path(@event), class: 'uk-button uk-button-primary' %>
        <%= link_to 'Supprimer', user_event_path(@event), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'uk-button uk-button-danger' %>
      </div>
    </div>
    <%= render 'form', event: @event, faucet: @event.faucet %>
  </div>
</div>