<div class="uk-flex-middle uk-margin-medium" uk-grid>
  <div class="uk-width-expand@m">
    <h1 class="uk-heading-primary">Editing Industrial Unit</h1>
  </div>
  <div class="uk-width-auto@m">
    <%= link_to 'Show', @industrial_unit, class: 'uk-button uk-button-primary' %>
    <%= link_to 'Destroy', @industrial_unit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'uk-button uk-button-danger' %>
  </div>
</div>

<%= render 'form', industrial_unit: @industrial_unit %>
