<p id="notice"><%= notice %></p>

<h1>Industrial Units</h1>

<div class="uk-overflow-auto">
  <table id="table_id" class="stripe hover" data-controller="table" data-table-url="<%= industrial_units_path(format: :json) %>">
    <thead>
    <tr>
      <th data-targets="table.column">Name</th>
    </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Industrial Unit', new_industrial_unit_path %>
