<p id="notice"><%= notice %></p>

<h1>Industrial Units</h1>

<div class="">
  <div data-controller="table" data-table-id="#table_id" data-table-columns='["id", "name", "full_address"]' data-table-url="<%= industrial_units_path(format: :json) %>">
    <table id="table_id" class="stripe hover">
      <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>full address</th>
      </tr>
      </thead>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Industrial Unit', new_industrial_unit_path %>
