<%= render 'shared/notice' %>

<h1>Industrial Units</h1>

<%= render 'shared/table', locals: { id: 'industrial_units_table', dom: 'lrtip', paging: false,
                     columns: %w[id name full_address], url: industrial_units_path(format: :json) } do %>
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>full address</th>
  </tr>
  </thead>
<% end %>

<br>

<%= link_to 'New Industrial Unit', new_industrial_unit_path %>
