<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Un client a fait une demande de compte avec les informations suivantes :</p>
<p>
  Nom : <%= @user.last_name %><br/>
  Prénom : <%= @user.first_name %><br/>
  Adresse email : <%= @user.email %><br/>
  Téléphone : <%= @user.phone_number %><br/>
</p>
</body>
</html>