.tm-navbar {
  background: #e8e5e5 !important;
}
.tm-navbar .uk-navbar-nav > li > a,
.tm-navbar .uk-navbar-nav > li > a:focus {
  color: #0058a1;

  &:hover {
    color: #1e87f0;
  }
}
.tm-navbar .uk-navbar-nav > li > a.active {
  color: #1e87f0;
}
