.tm-navbar {
  background: linear-gradient(to left, #28a5f5, #1e87f0) !important;
}
.tm-navbar .uk-navbar-nav > li > a,
.tm-navbar .uk-navbar-nav > li > a:focus {
  color: rgba(255,255,255,0.8);

  &:hover {
    color: white;
  }
}
.tm-navbar .uk-navbar-nav > li > a.active {
  color: white;
}
