<div class="uk-margin">
  <%= form.label :existing_actionnement_actionneur_attachment, "#{title_add_attachment(kind)}", class: 'uk-form-label' %>
  <%= form.select kind_to_attachement(kind),
                  Attachment.where(kind: kind).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                  {
                      selected: selected_attachment(kind)
                  },
                  {
                      multiple: true, id: kind_to_attachement(kind),
                      data: {target: 'form.input'}
                  }
  %>
</div>
<div class="uk-margin">
  <%= form.file_field "new_#{kind.to_s}_attachment".to_sym, multiple: true %>
</div>

