<div class="uk-margin">
  <%= form.label "existing_#{kind.to_s}_attachment".to_sym, I18n.t("attachment_kind.#{kind}"), class: 'uk-form-label' %>
  <%= form.select "existing_#{kind.to_s}_attachment",
                  FaucetAttachment.where(kind: kind).collect {|fa| [fa.attachment.pdf.blob.filename, fa.attachment.id] if fa.attachment.pdf.attached?}.compact,
                  {
                      selected: selected_attachment(kind)
                  },
                  {
                      multiple: true, id: kind_to_attachement(kind),
                      data: {target: 'form.input'}
                  }
  %>
</div>
<div class="uk-margin">
  <%= form.file_field "new_#{kind.to_s}_attachment".to_sym, multiple: true %>
</div>

