<tr>
  <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium"><%= title %></td>
  <td>
    <table>
      <tbody>
      <% attachments.each do |attachment| %>
        <tr class="tr-transparent">
          <% if attachment.pdf.attached? %>
            <td><%= link_to attachment.pdf.blob.filename, url_for(attachment.pdf) %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </td>
</tr>