<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="uk-heading-primary">Nouveau Robinet</h1>
      </div>
      <div class="uk-width-auto@m" data-controller="template-switcher">
        <%= select_tag :tap_template, options_from_collection_for_select(TapTemplate.all, "id", "name"), prompt: 'EMPTY TEMPLATE',
                       class: 'uk-select', data: { target: 'template-switcher.id', action: 'template-switcher#switch' } %>
      </div>
    </div>
    <%= render 'form', tap: @tap %>
  </div>
</div>
