<p id="notice"><%= notice %></p>

<h1>Tap Templates</h1>

<%= render 'shared/table', locals: { id: 'tap_templates_table', dom: 'lrtip', paging: false,
                                     columns: %w[id name article_number], url: tap_templates_path(format: :json) } do %>
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>article number</th>
  </tr>
  </thead>
<% end %>

<br>

<%= link_to 'New Tap Template', new_tap_template_path %>
