<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="uk-heading-primary">Modification d'Alerte</h1>
      </div>
      <div class="uk-width-auto@m">
        <%= link_to 'Détails', admin_alert_path(@alert), class: 'uk-button uk-button-primary' %>
        <%= link_to 'Supprimer', admin_alert_path(@alert), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'uk-button uk-button-danger' %>
      </div>
    </div>
    <%= render 'form', alert: @alert %>
  </div>
</div>
