<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="uk-heading-primary">Editing Tap Template</h1>
      </div>
      <div class="uk-width-auto@m">
        <%= link_to 'Show', @tap_template, class: 'uk-button uk-button-primary' %>
        <%= link_to 'Destroy', @tap_template, method: :delete, data: { confirm: 'Are you sure?' }, class: 'uk-button uk-button-danger' %>
      </div>
    </div>
    <%= render 'form', tap_template: @tap_template %>
  </div>
</div>