<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="uk-heading-primary">Modification de Modèle de Robinet</h1>
      </div>
      <div class="uk-width-auto@m">
        <%= link_to 'Détails', admin_tap_template_path(@tap_template), class: 'uk-button uk-button-primary' %>
        <%= link_to 'Supprimer', admin_tap_template_path(@tap_template), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'uk-button uk-button-danger' %>
      </div>
    </div>
    <%= render 'form', tap_template: @tap_template %>
  </div>
</div>